@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0%);
  }
}

@layer utilities {
  .sliding-container {
    animation: slide 10s ease-in-out infinite;
  }

  :hover.sliding-container {
    animation-play-state: paused;
  }
}
